{% extends 'base.html.twig' %}

{% block title %}Edit Notice{% endblock %}

{% block body %}  <div class="maincontainer {{page}}">  
<div class="maincontainer {{page}}">
    <h1>Edit Notice</h1>

    {{ include('crud_notice/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_notice') }}">back to list</a>

    {{ include('crud_notice/_delete_form.html.twig') }}
    </div>
{% endblock %}
