{# vehicule_form.html.twig #}
{% form_theme form 'Crud/crud_vehicule/_vehicule_form.html.twig' %}
{% block form_row %}
    <div class="form-group">
    
      
 
        {{ form_start(form) }}
        {{ form_label(form) }}       
        {{ form_widget(form) }}    
       

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

        {{ form_errors(form) }}
    </div>
{% endblock %}  